[bumpversion]
current_version = 1.0.1
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(all-extra):pyproject.toml]
search = pulselink-mcp[mcp,agent,logfire,youtube,feeds,audio]>={current_version}
replace = pulselink-mcp[mcp,agent,logfire,youtube,feeds,audio]>={new_version}

[bumpversion:file(sources-extra):pyproject.toml]
search = pulselink-mcp[youtube,feeds]>={current_version}
replace = pulselink-mcp[youtube,feeds]>={new_version}

[bumpversion:file:a2a.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = pulselink-mcp[mcp]>={current_version}
replace = pulselink-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = pulselink-mcp[agent]>={current_version}
replace = pulselink-mcp[agent]>={new_version}

[bumpversion:file:pulselink_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pulselink_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
